button{
  background: transparent;
  border: unset;
  width: 100%;

.Pbutton{
  
  p{
      text-align: center;
      color: $pink;
      text-transform: uppercase;
      padding: 5%;
      border: solid 3px black;
  }
  
}

.button{
  width: 100%;
  text-align: center;
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: 3px solid black;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: $pink;
  &__text{
    display: block;
    padding:1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    &:before{
      content: attr(title);
    }
    &--bis{
      display: block;
      position: absolute;
      top: 0; left:0; right: 0; bottom: 0;
      transform: translateX(-1 * $anim-text-offset);
      opacity: 0;
    }
  }
  &__mask{
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: $pink;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.6s;
  }  
}

.button:hover{
  opacity: 1;
  .button__text{
    animation: fx-text .6s ease-out;
    &--bis{
      animation: fx-text-bis .6s ease-out;
    }
  }    
  .button__mask{
    animation: fx-mask .6s ease-out;
  }    
}

.button:active{
  opacity: 1;
  background: $pink;
  color: white;
}



@keyframes fx-mask {
  0%{
    transform: translateX(-100%) rotate(45deg);
  }
  100%{
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0%{
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}


}